.App {
  text-align: center;
  margin-top: 400px;
  /* margin-left: 500px; */
}
.Out{
  width:500px;
  height: 20px;
  background-color: gray;
  border-radius: 16px;
  margin-left: 500px;
}
.In{
  width:100px;
  height: 20px;
  background-color: red;
  border-radius: 16px;
  overflow: auto;
}